body {
    font-family: "Georgia",serif;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

div {
    padding-bottom: 0.5em;
}

.skill {
    padding-bottom: 0;
    font-size:0.9em;
    color:#808080;
}

.highlight {
    padding-bottom: 0.1em;
    font-size: 1em;
}

.experience-header {
    margin: 10px 0 10px;
    border-bottom: 1px solid #eeeeee;
}

.problem {
    font-size:1.0em;
    font-weight:normal;
}

.solution {
    font-size:1.0em;
    font-weight:normal;
}

.toDate {
    margin-top: 65px;
    text-align: right
}

.company {
    font-variant:small-caps;
    font-size:1.1em;
}

.right {
    text-align:right;
}

td p {
    font-size: 14px;
}

.table td.noBorder {
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}