body.mine {
    margin-top:20px;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

div {
    padding-bottom: 0.5em;
}

.skill {
    padding-bottom: 0;
    font-size:0.9em;
    color:#808080;
}

.highlight {
    padding-bottom: 0.1em;
    font-size: 1em;
}

.experience-header {
    margin: 10px 0 10px;
    border-bottom: 1px solid #eeeeee;
}

.problem {
    font-size:1.0em;
    font-weight:normal;
}

.solution {
    font-size:1.0em;
    font-weight:normal;
}

.toDate {
    margin-top: 65px;
    text-align: right
}

.company {
    font-variant:small-caps;
    font-size:1.1em;
}

.right {
    text-align:right;
}

td p, td div {
    font-size: 14px;
}

.table td.noBorder {
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
}

td p.emphasis {
    font-size:18px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body.mine {
        margin-top:0px;
    }
    h1, h2, h3 span {
        font-size:18px;
    }
    div.experience-header h4 {
        font-size:14px;
    }
    td p.emphasis, p.emphasis a{
        font-size:14px;
    }
    p, div, li, a, span{
        font-size:12px;
    }
    .problem, .solution {
        font-size:12px;
    }
    td p, td div {
        font-size:12px;
    }
    .well-small {
        padding:0px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {



}