<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td>
                <h5>{{insurance}}</h5>
            </td>
            <td>
                <p><a ng-href="#/experience?q={{insurance}}&qd={{deInsurance}}">{{commercialInsurance}}</a></p>
                <p><a ng-href="#/experience?q={{insurance}}&qd={{deInsurance}}">{{coInsurance}}</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{financialMarkets}}</h5>
            </td>
            <td>
                <p><a ng-href="#/experience?q={{marketData}}&qd={{deMarketData}}">{{marketData}}</a></p>
                <p><a ng-href="#/experience?q={{wealthManagement}}&qd={{deWealthManagement}}">{{wealthManagement}}</a></p>
                <p>{{onlineInvestmentTools}}</p>
                <p>{{retailInvestors}}</p>
                <p>{{selfDirectedInvestors}}</p>
            </td>
        </tr>
    </tbody>
</table>