<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td>
                <h5>{{insurance}}</h5>
            </td>
            <td>
                <p><a ng-click="goTo('/experience',insurance,deInsurance)">{{commercialInsurance}}</a></p>
                <p><a ng-click="goTo('/experience',insurance,deInsurance)">{{coInsurance}}</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{financialMarkets}}</h5>
            </td>
            <td>
                <p><a ng-click="goTo('/experience',marketData,deMarketData)">{{marketData}}</a></p>
                <p><a ng-click="goTo('/experience',wealthManagement,deWealthManagement)">{{wealthManagement}}</a></p>
                <p>{{onlineInvestmentTools}}</p>
                <p>{{retailInvestors}}</p>
                <p>{{selfDirectedInvestors}}</p>
            </td>
        </tr>
    </tbody>
</table>