<div class="well well-small">
    <div class="row-fluid">
        <div class="span9">
            <h3>{{CoreCompetencies}}</h3>
        </div>
    </div>
</div>
<div class="container-fluid" >
    <div class="row-fluid">
        {{iam}}
    </div>
    <div class="row-fluid">
        <ul>
            <li>
                <a ng-href="#/experience?q={{peopleManagement}}">{{managingTeams}}</a>
            </li>
            <li><a ng-href="#/experience?q={{productCreation}}">{{creatingProducts}}</a>{{fromScratch}}</li>
            <li><a ng-href="#/experience?q={{relationshipManagement}}">{{managingRelationships}}</a> {{withExternal}}</li>
        </ul>
        <div>{{itake}} </div>
        <div>{{imgood}} <a ng-href="#/experience?q={{roi}}">{{profitable}}</a> {{orwhat}} <a ng-href="#/experience?q={{agile}}">{{userStories}} </a>{{wouldSolve}} </div>
        <div>{{imparticularly}}  <a ng-href="#/experience?q={{technical}}">{{technical}} </a>{{andthe}} <a ng-href="#/experience?q={{business}}">{{business}}</a>{{teamsand}}</div>
    </div>
    <div>{{asyouwould}} <a ng-href="#/experience?q={{functionalDesign}}">{{functionalDesign}}</a>, <a ng-href="#/experience?q={{projectManagement}}">{{projectManagement}}</a> {{and}}  <a ng-href="#/experience?q={{dataAnalysis}}">{{dataAnalysis}}</a> {{toname}}</div>
</div>