<div class="well well-small">
    <div class="row-fluid">
        <div class="span9">
            <h3>{{CoreCompetencies}}</h3>
        </div>
    </div>
</div>
<div class="container-fluid" >
    <div class="row-fluid">
        I am a talented product manager with experience in
    </div>
    <div class="row-fluid">
        <ul>
            <li>Managing teams</li>
            <li>Creating products from scratch which solve business problems</li>
            <li>Managing relationships with external partners</li>
        </ul>
    </div>
    <div>Click on one of the items above to see more information on that experience</div>
</div>