<div class="well well-small">
    <div class="row-fluid">
        <div class="span9">
            <h3><span>{{CoreCompetencies}}</span></h3>
        </div>
    </div>
</div>

<div class="container-fluid" >
    <table class="table">
        <tbody>
        <tr>
            <td>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <p class="emphasis">{{iam}}:</p>
                    </div>
                    <div class="row-fluid">
                        <ul>
                            <li>
                                <p class="emphasis"><a ng-click="goTo('/experience',peopleManagement,dePeopleManagement)">{{managingTeams}}</a></p>
                            </li>
                            <li><p class="emphasis"><a ng-click="goTo('/experience',productCreation,deProductCreation)">{{creatingProducts}}</a>{{fromScratch}}</p></li>
                            <li><p class="emphasis"><a ng-click="goTo('/experience',relationshipManagement,deRelationshipManagement)">{{managingRelationships}}</a> {{withExternal}}</p></li>
                        </ul>
                    </div>
                    <div></div>
                    <div></div>
                    <div></div>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table">
                    <tbody>
                        <tr>

                                <td class="span3 noBorder">
                                    <div >
                                        <ul class="nav nav-tabs nav-stacked" id="myTab" >
                                            <li ng-class="{active:subPage=='partials/strengths.html'}"><a ng-click="subPage='partials/strengths.html'">{{strengths}}</a></li>
                                            <li ng-class="{active:subPage=='partials/businessExperience.html'}"><a ng-click="subPage='partials/businessExperience.html'">{{businessExperience}}</a></li>
                                            <li ng-class="{active:subPage=='partials/productFocus.html'}"><a ng-click="subPage='partials/productFocus.html'">{{productFocus}}</a></li>
                                            <li ng-class="{active:subPage=='partials/sdlc.html'}"><a ng-click="subPage='partials/sdlc.html'">{{sdlc}}</a></li>
                                        </ul>
                                    </div>
                                </td>
                            <td class="span1 noBorder"></td>
                            <td class="span8 noBorder">
                                <div>
                                    <ng-include src="subPage"></ng-include>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </td>
        </tr>
        </tbody>


    </table>
</div>

</div>