<div class="well well-small">
    <div class="row-fluid">
        <div class="span8">
            <h3>
                <span ng-show="!localeIsFrench()">{{query}}</span> <!-- Show query term in front of expérience (for English) -->
                <span ng-show="!localeIsFrench() && !query" >{{Professional}}</span> <!--show professional in front of experience if there is no query (for English) -->
                <span>{{Experience}}</span> <!--show localised text for Experience -->
                <span ng-show="localeIsFrench() && !query" >{{Professional}}</span> <!--show professionel after experience if there is no query (for French) -->
                <span ng-show="localeIsFrench() && query"> {{queryDescription}}</span> <!--Show query term after experience (for French) -->
                &nbsp  <button ng-show="query.length>0" class="btn btn-small btn-info" ng-click="clearQuery()">{{uiLabels.showAll}}</button> <!-- button -->
            </h3>
        </div>

        <div class="span4 visible-desktop">
            <form class="form-search pull-right">
                <h3>
                    <input type="text" class="input search-query" ng-change="searchChanged()" ng-model="query" placeholder="{{uiLabels.search}}"></h3>
            </form>
        </div>
        <div class="span4 visible-tablet">
            <form class="form-search pull-right">
                <h3>
                <input type="text" class="input-medium search-query" ng-change="searchChanged()" ng-model="query" placeholder="{{uiLabels.search}}"></h3>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid" >
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="experience in experiences | filter:query">
                <td>
                <div class="row-fluid" >
                    <div class="span3">
                        <div class="pull-right hidden-phone">
                            <div class="toDate"><small class="muted">{{uiLabels.to}}: </small>{{experience.toDate}}</div>
                            <div class="right company"><small class="muted">{{uiLabels.company}}:</small> {{experience.company}}</div>
                            <div class="right"><small class="muted">{{uiLabels.location}}:</small> {{experience.location.city}}, {{experience.location.country}}</div>
                            <div class="right"><small class="muted">{{uiLabels.from}}:</small> {{experience.fromDate}}</div>
                        </div>
                    </div>
                    <div class="span8 offset1">
                        <div class="experience-header"><h4>{{experience.title}} <small> - {{experience.product}}</small></h4></div>
                        <div class="visible-phone"><em>{{experience.company}} | {{experience.fromDate}} - {{experience.toDate}}</em></div>
                        <div title="problem"><span class="problem">{{experience.problem}}</span></div>
                        <div title="solution"><span class="solution">{{experience.solution}}</span></div>

                        <div ng-click="toggleHighlights(experience.experienceId)"><button ng-show="experience.highlightsVisible && (!query || query.length==0)" class="btn btn-link"><i class="icon-chevron-up"></i>{{uiLabels.hideHighlights}}</button><button ng-show="!experience.highlightsVisible && (!query || query.length==0)" class="btn btn-link"><i class="icon-chevron-down"></i>{{uiLabels.showHighlights}}</button>
                            <div ng-show="experience.highlightsVisible || query.length>0">
                                <div class="highlight" ng-repeat="highlight in experience.highlights | filter:query">
                                    <div class="row-fluid">
                                        <div class="span8 highlight">
                                            <ul>
                                                <li><div class="highlight"><span class="highlight">{{highlight.description}}</span></div></li>
                                            </ul>

                                        </div>
                                        <div class="span4 highlight hidden-phone">
                                            <div title="skills" class="skill " ng-repeat="skill in highlight.skills | filter:query">
                                                <span class="">{{skill.description}}</span>
                                                </span>
                                                <span ng-repeat="aspect in skill.aspects | filter:query" class="hide">{{aspect}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="query.length>0" class="hidden-phone">
                        <span ng-repeat="otherSkill in experience.otherSkills | filter:query">
                            <div ng-show="$first">{{uiLabels.otherKeywords}}</div>
                            <span class="skill">{{otherSkill.description}}
                                <span ng-hide="$last" class="skill">,</span>
                            </span>
                            <span class="skill" ng-hide="true" ng-repeat="aspect in otherSkill.aspects | filter:query">{{aspect}}</span></span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
