<div class="well well-small">
    <div class="row-fluid">
        <div class="span9">
            <h3>Other</h3>
        </div>
    </div>
</div>
<ul class="thumbnails">
    <li class="span4 offset1">
        <div class="thumbnail">
            <img src="/app/img/NewsMap.png" >
            <h4>NewsMap</h4>
            <p>Treemap visualisation of the latest stories published by the UK newspaper, <a href="http://www.guardian.co.uk">The Guardian</a></p>
            <p>Working example available <a href="http://newsmap.chrisbarrett.fr">here</a></p>
            <p>Source code available on <a href="https://github.com/chri5b/guardian-newsmap">GitHub</a></p>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>D3.js</td>
                        <td>jQuery</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li class="span4 offset1">
        <div class="thumbnail">
            <img src="/app/img/WordTree.png" >
            <h4>WordTree</h4>
            <p>Open Source <a href="http://d3js.org">D3.js</a> plugin which visualises text using a Word Tree. Used in <a href="http://www.doctrinal.fr">Doctrinal</a> as a search term visualisation tool.</p>
            <p>Source code available on <a href="https://github.com/chri5b/wordTree">GitHub</a></p>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>D3.js</td>
                    <td>Node.js</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li class="span3 offset1">
        <div class="thumbnail">
            <img src="" >
            <h4>Intelligent Learning</h4>
            <p>Flash-card tool which analyses incorrect answers in order to diagnose missing knowledge.</p>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>Angular.js</td>
                    <td>Node.js</td>
                    <td>MongoDb</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>
