<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td>
                <h5>{{planning}}</h5>
            </td>
            <td>
                <p><a ng-href="#/experience?q={{projectManagement}}&qd={{deProjectManagement}}">{{projectManagement}}</a></p>
                <p><a ng-href="#/experience?q={{mrd}}&qd={{deMrd}}">Market Requirements Document</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{requirementsAnalysis}}</h5>
            </td>
            <td>
                <p><a ng-href="#/experience?q={{requirementsAnalysis}}&qd={{deRequirementsAnalysis}}">{{requirementsAnalysis}}</a></p>
                <p><a ng-href="#/experience?q={{userStory}}&qd={{deUserStory}}">{{userStories}}</a> <a ng-href="#/experience?q={{prioritisation}}&qd={{dePrioritisation}}">{{prioritisation}}</a></p>
                <p><a ng-href="#/experience?q={{mvp}}&qd={{deMvp}}">{{mvp}}</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{design}}</h5>
            </td>
            <td>
                <p><a ng-href="#/experience?q={{functionalDesign}}&qd={{deFunctionalDesign}}">{{functionalDesign}}</a></p>
                <p><a ng-href="#/experience?q={{userStory}}&qd={{deUserStory}}">{{userStory}}</a></p>
                <p><a ng-href="#/experience?q={{useCases}}&qd={{deUseCases}}">{{useCases}}</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{dev}}</h5>
            </td>
            <td>
                <p>{{iterationFeedback}}</p>
                <p>{{testCaseReview}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{implementation}}</h5>
            </td>
            <td>
                <p><a ng-href="#/experience?q={{uat}}&qd={{deUat}}">{{uat}}</a></p>
                <p><a ng-href="#/experience?q={{marketing}}&qd={{deMarketing}}">{{marketing}}</a></p>
                <p>{{supportTraining}}</p>
                <p>{{salesTraining}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{opsAndMaintenance}}</h5>
            </td>
            <td>
                <p>{{preSales}}</p>
                <p>{{rootCause}}</p>
                <p>{{processImprovement}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{obsolescence}}</h5>
            </td>
            <td>
                <p>{{clientCommunication}}</p>
                <p>{{gapAnalysis}}</p>
                <p>{{revenueTracking}}</p>
            </td>
        </tr>
    </tbody>

</table>
