<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td>
                <h5>{{planning}}</h5>
            </td>
            <td>
                <p><a ng-click="goTo('/experience',projectManagement,deProjectManagement)">{{projectManagement}}</a></p>
                <p><a ng-click="goTo('/experience',mrd,deMrd)">Market Requirements Document</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{requirementsAnalysis}}</h5>
            </td>
            <td>
                <p><a ng-click="goTo('/experience',requirementsAnalysis,deRequirementsAnalysis)">{{requirementsAnalysis}}</a></p>
                <p><a ng-click="goTo('/experience',userStory,deUserStory)">{{userStories}}</a> <a ng-click="goTo('/experience',prioritisation,dePrioritisation)">{{prioritisation}}</a></p>
                <p><a ng-click="goTo('/experience',mvp,deMvp)">{{mvp}}</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{design}}</h5>
            </td>
            <td>
                <p><a ng-click="goTo('/experience',functionalDesign,deFunctionalDesign)">{{functionalDesign}}</a></p>
                <p><a ng-click="goTo('/experience',userStory,deUserStory)">{{userStory}}</a></p>
                <p><a ng-click="goTo('/experience',useCases,deUseCases)">{{useCases}}</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{dev}}</h5>
            </td>
            <td>
                <p>{{iterationFeedback}}</p>
                <p>{{testCaseReview}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{implementation}}</h5>
            </td>
            <td>
                <p><a ng-click="goTo('/experience',uat,deUat)">{{uat}}</a></p>
                <p><a ng-click="goTo('/experience',marketing,deMarketing)">{{marketing}}</a></p>
                <p>{{supportTraining}}</p>
                <p>{{salesTraining}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{opsAndMaintenance}}</h5>
            </td>
            <td>
                <p>{{preSales}}</p>
                <p>{{rootCause}}</p>
                <p>{{processImprovement}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>{{obsolescence}}</h5>
            </td>
            <td>
                <p>{{clientCommunication}}</p>
                <p>{{gapAnalysis}}</p>
                <p>{{revenueTracking}}</p>
            </td>
        </tr>
    </tbody>

</table>
