<ul>
    <li>
        <div>{{itake}} </div>
    </li>
    <li>
        <div>{{imgood}} <a ng-href="#/experience?q={{roi}}&qd={{deRoi}}">{{profitable}}</a> {{orwhat}} <a ng-href="#/experience?q={{agile}}&qd={{deAgile}}">{{userStories}} </a>{{wouldSolve}} </div>
    </li>
    <li>
        <div>{{imparticularly}}  <a ng-href="#/experience?q={{technical}}&qd={{deTechnical}}">{{technical}} </a>{{andthe}} <a ng-href="#/experience?q={{business}}&qd={{deBusiness}}">{{business}}</a>{{teamsand}}</div>
    </li>
</ul>

